@model Domain.ServiceD

@{
    ViewBag.Title = "CreateServiceD";
}




<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout de service
            </div>
            <div class="panel-body">



                <div class="panel panel-default">

                    @using (@Html.BeginForm("CreateServiceD", "ServiceD", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">
                            <h4>Service</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     



                            <div class="form-group">
                                <label class="control-label col-lg-4">Nom Service</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Libelle, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(model => model.Libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Nom Direction</label>
                                <div class="col-lg-6">
                            
                                    @Html.DropDownListFor(model => model.Id_direction, (SelectList)ViewData["Direction"], "--Choisir--", new { @class = "form-control", required = "" })
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("Afficher la liste des service", "GetServiceD")
                </div>

            </div>
        </div>
    </div>
</div>