@model IEnumerable<Domain.Etage>

@{
    ViewBag.Title = "GetEtage";
}

<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des étages
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Code étage</th>
                            <th>Code à barre</th>
                            <th>Description</th>
                            <th>Organisation</th>
                            <th>Batiment</th>
                            <th>Ville</th>
                            <th>Region</th>
                            <th>Gouvernorat</th>
                            <th>Pays</th><th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Code étage</th>
                            <th>Code à barre</th>
                            <th>Description</th>
                            <th>Organisation</th>
                            <th>Batiment</th>
                            <th>Ville</th>
                            <th>Region</th>
                            <th>Gouvernorat</th>
                            <th>Pays</th><th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.Id_etage</td>
                                <td class="center">@item.code</td>
                                <td class="center">@item.description</td>
                                <td class="center">@item.Batiment.Organisation.libelle</td>
                                <td class="center">@item.Batiment.description</td>
                                <td class="center">@item.Batiment.Delegation.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.Region.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.Region.Pays.libelle</td>


                                <td>

                                    <a href="@Url.Action("Edit", new { id = item.Id_etage })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id_etage })">&nbsp;&nbsp;<i class="fa fa-trash" title="Effacer"></i></a>
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @Html.ActionLink("Ajouter un nouveau étage", "CreateEtage")
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>