@model Domain.Delegation

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout de délégation
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("CreateDelegation", "Gestion", FormMethod.Post,
            new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">
                            <h4>Délégation</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Nom délégation </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.libelle, new { @class = "form-control", required = "True" })
                                    @Html.ValidationMessageFor(model => model.libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Code postal</label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.Code_postal, new { @class = "form-control", required = "True" })
                                    @Html.ValidationMessageFor(model => model.Code_postal , String.Empty, new { @class = "test" })
                                </div>
                            </div>



                          


                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Gouvernorat </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(model => model.idGouvernorat, (SelectList)ViewData["gouvernorat"], "--Choisir--", new { @class = "form-control", required = "True" })
                                </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Region </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.idRegion, (SelectList)ViewData["region"], "--Choisir--", new { @class = "form-control", required = "True" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Pays </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.idPays, (SelectList)ViewData["pays"], "--Choisir--", new { @class = "form-control", required = "True" })
                                    </div>
                                </div>
                                </div>
                          

                      
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                    }


                </div>

                <div>

                    @Html.ActionLink("List", "GetDelegation")

                </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrement Avec Succée </h4>
            </div>
            <div class="modal-body">
                <p>Voulez Vous Ajouter un Autre ?<p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Oui</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" onClick="document.location='~/Admin/GetDelegation'">Non</button>

            </div>
        </div>
    </div>
</div>