@model IEnumerable<Domain.Batiment>

<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Batiments
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Code </th>
                            <th>Description</th><th>Organisation</th>
                            <th>Delegation </th>
                            
                            <th>Region </th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Code </th>
                            <th>Description</th>
                            <th>Organisation</th>
                            <th>Delegation </th>

                            <th>Region </th>

                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.code</td>
                                <td class="center">@item.description</td>
                                <td class="center">@item.Organisation.libelle</td>
                                <td class="center">@item.Delegation.libelle</td>
                                <td class="center">@item.Delegation.Gouvernorat.Region.libelle</td>
                               
                                <td>

                                    <a href="@Url.Action("EditBatiment", new { id = item.idRegion })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @Html.ActionLink("Ajouter une nouvelle Batiment", "CreateBatiment")
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>