@model IEnumerable <Domain.Gouvernorat>
<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Gouvernorat
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Region</th>
                            <th>Pay</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                   

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.libelle</td>
                                <td class="center">@item.Region.libelle</td>
                                <td class="center">@item.Region.Pays.libelle</td>


                                <td>

                                    <a href="@Url.Action("EditGouvernorat", new { id = item.idGouvernorat })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                   </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @Html.ActionLink("Ajouter une nouvelle Gouvernorat", "CreateGouvernorat")
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>