@model IEnumerable<Domain.Stock>
<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Regions
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Qte</th>
                            <th>Categorie</th>
                           
                            <th>Emplacement</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Produit</th>
                            <th>Qte</th>
                            <th>Categorie</th>
                          
                            <th>Emplacement</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.produit</td>
                                <td class="center">@item.Qte</td>
                               
                                <td class="center">@item.Categorie_materiel.libelle</td>
                               
                                <td class="center">@item.Emplacement</td>

                                <td>

                                    <a href="@Url.Action("EditStock", new { id = item.id })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                       </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @Html.ActionLink("Ajouter une nouvelle Entree", "CreateStock")
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>