@model Domain.Personnel


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Modification Personnel
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("Edit", "Personnel", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {@Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.id)

                        <div class="form-horizontal">
                            <h4>Direction</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Nom </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.nom, new { @class = "form-control", required = "True" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Prenom </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.prenom, new { @class = "form-control", required = "True" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Matricule </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.Matricule, new { @class = "form-control", required = "True" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Role </label>
                                <div class="col-lg-6">

                                    @Html.DropDownListFor(model => model.Rol_id, (SelectList)ViewData["role"], "--Choisir--", new { @class = "form-control", required = "" })


                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Batiment </label>
                                <div class="col-lg-6">

                                    @Html.DropDownListFor(model => model.idBatiment, (SelectList)ViewData["batiment"], "--Choisir--", new { @class = "form-control", required = "" })


                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("List", "GetDirection")
                </div>

            </div>
        </div>
    </div>
</div>

