@model Domain.Inventaire

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout Inventaire
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("CreateInventaire", "Inventaire", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">
                            <h4>Bureau</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Nom Inventaire </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.Nom_, new { @class = "form-control", required = "" })
                                    
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Type </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Type    , new { @class = "form-control", required = "" })
                                </div>
                            </div>


                      

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("Back to List", "GetBureuax")
                </div>

            </div>
        </div>
    </div>
</div>